log_level: "DEBUG"
assets_address: "/static"

SECRET_KEY: "testing_key"
DEBUG: True

celery:
    CELERY_BROKER_URL: 'redis://localhost:6379'
    CELERY_RESULT_BACKEND: 'redis://localhost:6379'
    CELERY_ACCEPT_CONTENT: ['json', 'msgpack']
    CELERY_TASK_SERIALIZER: 'json'
