<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Taxon</title>
  <meta name="description" content="A custom mining pool with no registration and a focus on developing new tools for miners">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/main.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  {% block head %}

  {% endblock %}
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div class="page-wrapper">
    <div class="body-container">

      <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
          <a class="pure-menu-heading" href="/" border="0"><img src="/static/taxon-30.png" height="20"></a>

          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
            {% if not current_user.is_authenticated %}
            <li class="pure-menu-item"><a href="/register" class="pure-menu-link">Register</a></li>
            <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
            {% else %}
            <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>


      <div class="content-wrapper">
        <div class="content">
          {% block body %}
            {% include "_flash.html" %}
            {% block body_w_flash %}
            {% endblock %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
