{% extends "base.html" %}
{% block body %}
<style>
.body-container, .page-wrapper, {
  background-color: #F8F8F8;
}
.content-wrapper {
  padding: 60px 0;
}
</style>
<div class="content-wrapper container-fluid jumbotron alert alert-danger">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">{{ error }}</h2>
        <p>
          Something went wrong, sorry about that! This error has been
          logged, and we do look at those.
        </p>
        <p>If you need a speedy resolution please reach out to support.</p>
        {% if g.sentry_event_id %}
        <p>The error identifier is: <b>{{ g.sentry_event_id }}</b></p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
