{% extends "base.html" %}
{% set active_page = "home" %}
{% set page_title = "Home" %}
{% block body_w_flash %}

<div class="l-box">
  {% if current_user.is_authenticated %}
  <a href="/post" class="pure-button pure-button-primary">Submit a new post!</a>
  {% else %}
  <a href="/register" class="pure-button pure-button-primary">Register and contribute!</a>
  {% endif %}
</div>

<script type="x-template" id="my-template">
<div>
  <div class="post" v-for="post in linkList">
    <div style="padding: 0px 5px 5px 0px; border-bottom: 1px solid #ccc; margin-bottom: 5px; font-size: 16pt;">
      <i class="fa fa-link"></i>&nbsp;
      <a v-bind:href="post.url" target="_blank">
        <small>${ post.url }</small>
      </a>
    </div>
    <div style="padding: 5px;">
      <div>
        <i class="fa fa-tags fa-lg"></i> &nbsp;
        <span class="tag" v-for="(score, tag) in post.tags">
          <span style="text-align: center; padding: 5px 10px;">
            <span style="display:inline-block;">
              &nbsp;${ tag }
            </span>
          </span>
          <span class="buttons">
            <button class="pure-button" @click="vote(post.id, tag, 'up')"><i class="fa fa-thumbs-o-up"></i></button><!--
            --><span class="score">${ score }</span><!--
            --><button class="pure-button" @click="vote(post.id, tag, 'down')"><i class="fa fa-thumbs-o-down"></i></button>
            <button :class="{ 'pure-button-active': subscriptions.hasOwnProperty(tag) }" @click="subscribe(tag)" @dblclick="unsubscribe(tag)" class="pure-button"><i class="fa fa-feed"></i></button>
          </span>
        </span>
        <button class="pure-button">Add new tag &nbsp;<i class="fa fa-plus"></i></button>
      </div>
      <div class="info">
        <span title="Composite score">
          <i class="fa fa-bullseye"></i> &nbsp;${ post.score }
        </span>
        <span title="Heat">
          <i class="fa fa-fire"></i> &nbsp;12
        </span>
        <span title="Author">
          <i class="fa fa-user-circle"></i> &nbsp;${ post.poster }
        </span>
        <span title="Post Time">
          <i class="fa fa-clock-o"></i> &nbsp;${ post.posted_at | formatDate }
        </span>
      </div>
    </div>
  </div>
</div>
</script>
<div id="app">
</div>
<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script>
var app = new Vue({
  el: '#app',
  template: '#my-template',
  data: {
    tagScores: {{ tag_scores | tojson }},
    links: {},
    linkList: [],
    subscriptions: {{ subscriptions | tojson }}
  },
  methods: {
    subscribe: function (tag) {
      if (this.subscriptions.hasOwnProperty(tag))
        return;
      var subscriptions = this.subscriptions;
      $.ajax({
        url: '/api/v1/subscribe/' + tag,
        method: 'GET',
        success: function (data) {
          Vue.set(subscriptions, tag, true);
        },
        error: function (error) {
          console.log(JSON.stringify(error));
        }
      });

    },
    unsubscribe: function (tag) {
      if (!this.subscriptions.hasOwnProperty(tag))
        return;
      var subscriptions = this.subscriptions;
      $.ajax({
        url: '/api/v1/unsubscribe/' + tag,
        method: 'GET',
        success: function (data) {
          Vue.delete(subscriptions, tag);
        },
        error: function (error) {
          console.log(JSON.stringify(error));
        }
      });

    },
    vote: function (post_id, tag, direction) {
      var links = this.links;
      $.ajax({
        url: '/api/v1/vote/' + post_id + '/' + tag + '/' + direction,
        method: 'GET',
        success: function (data) {
          var link = links[post_id];
          link.tags[tag] = data.new_score;
        },
        error: function (error) {
          console.log(JSON.stringify(error));
        }
      });

    },
    onload: function() {
      for (key in this.tagScores) {
        for (i = 0; i < this.tagScores[key].length; i++) { 
          var linkScore = this.tagScores[key][i];
          if (!this.links.hasOwnProperty(linkScore[0]))
            this.links[linkScore[0]] = {tags: {}, score: 0, id: linkScore[0]};
          this.links[linkScore[0]].score += linkScore[1];
          this.links[linkScore[0]].tags[key] = linkScore[1];
        }
      }
      this.linkList = Object.values(this.links);
      this.linkList.sort(function(a, b) {
        return a.score - b.score;
      });
      var fetchList = this.linkList.map(function (x) { return x.id });
      var links = this.links;
      $.ajax({
        url: '/api/v1/posts/' + fetchList.join(),
        method: 'GET',
        success: function (data) {
          for (i = 0; i < data.posts.length; i++) { 
            var post = data.posts[i];
            for (j = 0; j < post.tags.length; j++) { 
              var tag = post.tags[j];
              if (!links[post.id].tags.hasOwnProperty(tag))
                Vue.set(links[post.id].tags, tag, null);
            }
            delete post.tags;
            for (key in post) {
              Vue.set(links[post.id], key, post[key]);
            }
          }
        },
        error: function (error) {
          console.log(JSON.stringify(error));
        }
      });
    }
  },
  delimiters: ["${","}"]
});
Vue.filter('formatDate', function(value) {
  if (value) {
    return moment.unix(value).fromNow();
  }
});
app.onload();
</script>
{% endblock %}
