{% extends "base.html" %}
{% set active_page = "home" %}
{% set page_title = "Home" %}
{% block body_w_flash %}

<div class="l-box">
  <div class="pure-alert pure-alert-warning">
    We're still in development, all data will likely get wiped at some point! Tell me all the shit that's broken, confusing, etc <a href="mailto:isaac@simpload.com">isaac@simpload.com</a>.
  </div>

  {% if current_user.is_authenticated %}
  <a href="/post" class="pure-button pure-button-primary">Submit a new post!</a>
  {% else %}
  <a href="/register" class="pure-button pure-button-primary">Register and contribute!</a>
  {% endif %}
</div>

<script type="x-template" id="my-template">
<div>
  <div class="post" v-for="post in linkList">
    <div style="padding: 0px 5px 5px 0px; border-bottom: 1px solid #ccc; margin-bottom: 5px; font-size: 16pt;">
      <i class="fa fa-link"></i>&nbsp;
      <a v-bind:href="post.url" target="_blank">
        <small>${ post.url }</small>
      </a>
    </div>
    <div style="padding: 5px;">
      <div>
        <i class="fa fa-tags fa-lg"></i> &nbsp;
        <span class="tag" v-for="(score, tag) in post.tags">
          <span class="title">
            <span style="display:inline-block;">
              &nbsp;${ tag }
            </span>
          </span>
          <span class="buttons">
            <button class="pure-button" @click="vote(post.id, tag, 'up')"><i class="fa fa-thumbs-o-up"></i></button><!--
            --><span class="score">${ score }</span><!--
            --><button class="pure-button" @click="vote(post.id, tag, 'down')"><i class="fa fa-thumbs-o-down"></i></button>
            <button :class="{ 'pure-button-active': subscriptions.hasOwnProperty(tag) }" @click="subscribe(tag)" @dblclick="unsubscribe(tag)" class="pure-button"><i class="fa fa-feed"></i></button>
          </span>
          <div style="clear: both;"></div>
        </span>
        <span v-if="addingTag && activePost == post.id">
          <input id="tag" name="tag" type="text" @keydown.enter.prevent="addTag()" v-model="newTag">
          <a class="pure-button pure-button-primary" @click="addTag()">Add tag</a>
        </span>
        <button class="pure-button" @click="activePost = post.id; addingTag = true;">Add new tag &nbsp;<i class="fa fa-plus"></i></button>

      </div>
      <div class="info">
        <span title="Composite score" v-if="post.score">
          <i class="fa fa-bullseye"></i> &nbsp;${ post.score | round }
        </span>
        <span title="Author">
          <i class="fa fa-user-circle"></i> &nbsp;${ post.poster }
        </span>
        <span title="Post Time">
          <i class="fa fa-clock-o"></i> &nbsp;${ post.posted_at | formatDate }
        </span>
      </div>
    </div>
  </div>
</div>
</script>
<div id="app">
</div>
<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script>
var app = new Vue({
  el: '#app',
  template: '#my-template',
  data: {
    // Data from server side
    tagScores: {{ tag_scores | tojson }},
    postData: {{ posts | tojson }},

    // Link data storage in Vue friendly format
    links: {},
    linkList: [],

    // User information
    subscriptions: {{ subscriptions | tojson }},

    // Tag adding status flags
    addingTag: false,
    activePost: null,
    newTag: null
  },
  methods: {
    addTag: function (post_id) {
      $.ajax({
        url: '/api/v1/add_tag/' + this.activePost + '/' + this.newTag,
        method: 'GET',
        success: function (data) {
          console.log(data);
        },
        error: function (error) {
          console.log(JSON.stringify(error));
        }
      });
    },
    subscribe: function (tag) {
      if (this.subscriptions.hasOwnProperty(tag))
        return;
      var subscriptions = this.subscriptions;
      $.ajax({
        url: '/api/v1/subscribe/' + tag,
        method: 'GET',
        success: function (data) {
          Vue.set(subscriptions, tag, true);
        },
        error: function (error) {
          console.log(JSON.stringify(error));
        }
      });

    },
    unsubscribe: function (tag) {
      if (!this.subscriptions.hasOwnProperty(tag))
        return;
      var subscriptions = this.subscriptions;
      $.ajax({
        url: '/api/v1/unsubscribe/' + tag,
        method: 'GET',
        success: function (data) {
          Vue.delete(subscriptions, tag);
        },
        error: function (error) {
          console.log(JSON.stringify(error));
        }
      });

    },
    vote: function (post_id, tag, direction) {
      var links = this.links;
      $.ajax({
        url: '/api/v1/vote/' + post_id + '/' + tag + '/' + direction,
        method: 'GET',
        success: function (data) {
          var link = links[post_id];
          link.tags[tag] = data.new_score;
        },
        error: function (error) {
          console.log(JSON.stringify(error));
        }
      });

    },
    genPostTemplate: function(id) {
      return {tags: {}, score: null, id: id};
    },
    populateLinks: function (data) {
      // Populate our local Vue objects from Rethinkdb data
      for (i = 0; i < data.length; i++) { 
        var post = data[i];
        if (!this.links.hasOwnProperty(post.id))
          this.links[post.id] = this.genPostTemplate(post.id);
        for (j = 0; j < post.tags.length; j++) { 
          var tag = post.tags[j];
          if (post.tag_scores.hasOwnProperty(tag))
            Vue.set(this.links[post.id].tags, tag, post.tag_scores[tag]);
        }
        delete post.tags;
        for (key in post) {
          Vue.set(this.links[post.id], key, post[key]);
        }
      }
    },
    onload: function() {
      if (Object.keys(this.tagScores).length > 0) {
        // Create placeholder Vue objects to be backfilled
        for (key in this.tagScores) {
          for (i = 0; i < this.tagScores[key].length; i++) { 
            var linkScore = this.tagScores[key][i][1];
            var postId = this.tagScores[key][i][0];
            if (!this.links.hasOwnProperty(postId))
              this.links[postId] = this.genPostTemplate(postId);
            this.links[postId].score += linkScore;
            this.links[postId].tags[key] = -1;
          }
        }
        this.linkList = Object.values(this.links);
        this.linkList.sort(function(a, b) {
          return b.score - a.score;
        });
        var fetchList = this.linkList.map(function (x) { return x.id });
        var populateLinks = this.populateLinks;
        $.ajax({
          url: '/api/v1/posts/' + fetchList.join(),
          method: 'GET',
          success: function (data) {
            populateLinks(data.posts);
          },
          error: function (error) {
            console.log(JSON.stringify(error));
          }
        });
      } else {
        this.populateLinks(this.postData);
        this.linkList = Object.values(this.links);
      }
    }
  },
  delimiters: ["${","}"]
});
Vue.filter('formatDate', function(value) {
  if (value) {
    return moment.unix(value).fromNow();
  }
});
Vue.filter('round', function(value, decimals) {
  if(!value)
    value = 0;
  if(!decimals)
    decimals = 0;
  value = Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals);
  return value;
});
app.onload();
</script>
{% endblock %}
